<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css-custom/base_admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css-bootstrap/bootstrap.min.css') }}">
    {% block head %}{% endblock %}
</head>
<body class="admin-body">
    <nav class="admin-sidebar">
        <div class="sidebar-header">
            <h3>The Corner Admin</h3>
        </div>
        <ul class="sidebar-nav">
            <li><a href="{{ url_for('admin') }}" class="nav-link">Головна</a></li>
            <li><a href="{{ url_for('add_position') }}" class="nav-link">Додати позицію</a></li>
            <li><a href="{{ url_for('add_offer') }}" class="nav-link">Додати пропозицію</a></li>
            <li><a href="{{ url_for('home') }}" class="nav-link back-home">Назад на The Corner</a></li>
            <!-- <li><a href="{ url_for('manage_users') }" class="nav-link">Користувачі</a></li> -->
        </ul>
    </nav>

    <!-- Основний контент -->
    <main class="admin-main">
        <div class="admin-container">
            {% block flash_message %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="container mt-3">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endblock %}
            
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
</html>